omniparser/weights/icon_caption_blip2
omniparser/weights/icon_caption_florence
omniparser/weights/icon_detect/
omniparser/weights/icon_detect_v1_5/
omniparser/weights/icon_detect_v1_5_2/
omniparser/.gradio
__pycache__/
omniparser/__pycache__/
omniparser/util/__pycache__/
omniparser/index.html?linkid=2289031
omniparser/wget-log
omniparser/imgs
omniparser/weights/icon_caption_florence_v2/
omniparser/omnitool/gradio/uploads/
.venv
.idea/
*.pyc
*.pyo
*.pyd
venv/
.env
.DS_Store
download/my_token.py
combined_output.txt
/premsql/
*.xlsx
/screens/
/parsed screens/
*.ipynb

